input,
label,
textarea {
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 0.375rem;
  margin-bottom: 5px;
}
input,
textarea {
  padding: 0.375rem 0.75rem;
}

textarea {
  resize: none;
  height: 75px;
}

button {
  transition: 0.3s ease;
  cursor: pointer;
  text-align: center;
  display: block;
  width: max-content;
  padding: 7px 25px;
  border-radius: 7px;
  font-weight: 700;
}
button:hover {
  transform: scale(1.1);
}

.contenedor-contacto {
  width: 70%;
}
.title-form {
  color: #f795f7;
}
.form-mail {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
}

@media (min-width: 773px) {
  .contenedor-contacto {
    width: 40%;
  }
}
