.main-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nombre-apellido {
  display: flex;
  flex-wrap: wrap;
}
.contactemonos {
  letter-spacing: 2px;
  color: #f795f7;
  font-size: 1.5em;
}
.input-usuario {
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 20px;
  font-size: 18px;
  letter-spacing: 0.8px;
  width: 300px;
  padding: 18px 26px;
  margin: 0px auto;
  margin-bottom: 8px;
}

.textarea-mensaje {
  font-size: 18px;
  margin-bottom: 8px;
  resize: vertical;
  line-height: inherit;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  border-radius: 20px;
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 0.8px;
  margin: 0 auto 8px;
  width: 300px;
  height: 150px;
  padding: 18px 26px;
}

.enviar-mensaje {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  transition: 0.3s ease;
  background-color: #efd6ee;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  letter-spacing: 2px;
  height: 2em;
  border: none;
  padding: 15px 20px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  font-weight: 700;
}
.container-inputs-textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
@media (min-width: 500px) {
  .input-usuario {
    width: 350px;
    margin: 0 auto 8px;
  }
  .textarea-mensaje {
    width: 375px;
    height: 200px;
    margin: 0 auto 8px;
  }
}

@media (min-width: 570px) {
  .input-usuario {
    padding: 18px 26px;
  }
}

@media (min-width: 600px) {
  .input-usuario {
    width: 390px;
  }
  .textarea-mensaje {
    width: 425px;
    height: 225px;
  }
}
