.container-card {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  height: 100%;

  background-color: rgb(28, 38, 57);
}

small {
  display: block;
  color: rgb(130, 90, 130);
  text-align: center;
}

.imagen {
  width: 80%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: none;
  border-radius: 10px;
  padding-top: 20px;
}

h4 {
  color: #1ba9d0;
}

.misproyectos {
  letter-spacing: 5px;
}

.container-botones {
  display: flex;
  justify-content: space-evenly;
}

.repo {
  text-align: center;
  border-radius: 3px;
  letter-spacing: 2px;
  background-color: none;
  height: 2em;
  background-color: rgb(17, 16, 35);
  color: white;
  border: none;
  padding: 5px 15px;
  font-weight: 400;
}

.pagina {
  background-color: rgb(17, 16, 35);
  color: rgb(130, 90, 130);
  color: white;
  border-radius: 3px;
  letter-spacing: 2px;
  height: 2em;
  border: none;
  padding: 5px 15px;
}
