* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.App {
  box-sizing: border-box;
  background-color: #1a1a24;
  text-align: center;
  color: #fefeff;
  font-weight: 500;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
}
span {
  display: block;
}

.misproyectos {
  margin: 35px 0;
  color: #f795f7;
}

.arribanombre {
  color: #f795f7;
  letter-spacing: 2px;
}
.nombre {
  font-family: "Inconsolata", monospace;
  color: #f795f7;
  letter-spacing: 2px;
}

.yo {
  color: #eed6ee;
  /* margin: 0 auto; */
  /* max-width: 40%; */
}

.container-button {
  display: flex;
  justify-content: space-evenly;
}

.cv {
  background-color: #efd6ee;
  color: #07071c;
  font-weight: 700;
}

.contacto {
  background-color: #efd6ee;
  color: #07071c;
}

.button {
  transition: 0.3s ease;
  cursor: pointer;
  text-align: center;
  display: block;
  width: max-content;
  padding: 7px 25px;
  border-radius: 100px;
  font-weight: 500;
}

a {
  cursor: pointer;
}

.tecnologias {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.tecnologia {
  background-color: #2a2a36;
  border-radius: 20px;
  cursor: pointer;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}
.container-contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3px 100px;
  margin-right: 15px;
  margin-bottom: 10px;
  border-radius: 30px;
  background-color: #2a2a36;
}

a:hover {
  transform: scale(1.1);
}

@media (min-width: 660px) {
  .yo {
    padding: 0 69px;
  }
}

@media (min-width: 900px) {
  .yo {
    padding: 0 100px;
  }
}

@media (min-width: 1000px) {
  .yo {
    padding: 0 150px;
  }
}

@media (min-width: 1200px) {
  .yo {
    padding: 0 200px;
  }
}

@media (min-width: 1400px) {
  .yo {
    padding: 0 250px;
  }
}

@media (min-width: 1600px) {
  .yo {
    padding: 0 300px;
  }
}

@media (min-width: 1800px) {
  .yo {
    padding: 0 350px;
  }
}

@media (min-width: 1920px) {
  .yo {
    padding: 0 380px;
  }
}
